body{
  background-color: cornsilk;
  text-align: center;
  }
  .form{
    margin: 10% 15%;
    


  }
  table, th, td {
border: 1px solid black;
border-collapse: collapse;
text-align: left;
max-width: 750px;

}
th, td {
background-color: #fff;
}
#title{
font-size: large;
}